<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Book</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="">BOOK</a> <a th:href="@{book/login}"
			th:if="${loggedin != true}"
			class="btn btn-outline-success my-2 my-sm-0">Login</a> <a
			th:href="@{/logout}" th:if="${loggedin}"
			class="btn btn-outline-success my-2 my-sm-0">Logout</a>
	</nav>
	<div class="container">
	<div class="row">
		<h1>Chi tiết sách</h1>	</div>
	<!-- <form>
		<div class="form-group">
			<div class="float-right">
		  <label for="Upload">Tải ảnh lên</label>
		  <input type="file" class="form-control-file" id="Upload">
		</div>
		</div>
	</form> -->
	<form th:object="${book}" th:action="${updating} ? @{/book/save/{id}(id = ${book.bookId})} : @{/book/save}"
		th:method="POST">
		<form class="row g-3 needs-validation" novalidate>
			<div class="col-md-6 bg-light">
				<div class="d-flex align-items-center py-5">
			<div class="col-md-6">
			  <label for="category" class="form-label">Tiêu đề</label>
			  <input type="text" class="form-control" th:field="*{name}" required>
			  <div class="invalid-feedback">
				Chưa nhập tiêu đề
			  </div>
			</div>
			<div class="col-md-6">
			  <label for="author" class="form-label">Tác giả</label>
			  <input type="text" class="form-control" th:field="*{author}" required>
			  <div class="invalid-feedback">
				Chưa nhập tên tác giả
			  </div>
			</div>
		</div>
			<div class="col form-group purple-border-forcus">
				<label for="Description">Mô tả về sách</label>
				<textarea class="form-control "  rows="3" th:field="*{description}"></textarea>
			</div>
			<div class="d-flex align-items-center py-5">
			<div class="col-md-6">
				<label for="Date" class="form-label">Ngày phát hành</label>
				<input type="date" class="form-control" th:field="*{date}"  required>
				<div class="invalid-feedback">
					Chưa chọn ngày phát hành
				  </div>
			</div>
			<div class="col-md-6">
				<label for="Page" class="form-label">Số trang</label>
				<input type="text" class="form-control" th:field="*{page}">
			</div>
			</div>
			<div class="col-md-6">
				<label for="Page" class="form-label">Thể loại</label>
				<input type="text" class="form-control" th:field="*{category}">
			</div>
			</div>
<!-- 			<div class="d-flex align-items-center py-5">
				<div class="col-md-6">
				  <label class="mr-sm-2" for="inlineFormCustomSelect">Thể loại</label>
				  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
					<option selected>....</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				  </select>
				</div>
			</div>
		</div> -->
		
		<img th:src="*{'data:image/jpg;base64,'+ base64Str}" alt="" />
	
 
		<div class="d-flex align-items-center py-5">
		<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Save Book">
		</div>
		</form>
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
			  'use strict';
			  window.addEventListener('load', function() {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
				  form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
					  event.preventDefault();
					  event.stopPropagation();
					}
					form.classList.add('was-validated');
				  }, false);
				});
			  }, false);
			})();
			</script>
	
		
		<!-- <div class="row g-3">
		<div class="col">
			<br /> Tiêu đề <br />  <input type="text"
			name="title" th:field="*{name}">
		</div>
		<div class="col">
			<br /> Tác giả <br /> <input
			type="text" name="author" th:field="*{author}">
		</div>
	</div> -->
	<!-- <br />
		Thể loại
		<br />  <input type="text" name="category"
			th:field="*{category}">
		<br /> 
		<input type="submit" value="Save Book"> -->
	</form>
</div>

</body>
</html>