<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Register</th>  
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Username</th>
            <td> <div class="col">
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </td>
          </tr>
          <tr>
            <th scope="row">Password</th>
            <td> <div class="col">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Confirm Password</th>
            <td><div class="col">
              <input type="password" class="form-control" id="inputPassword" placeholder="Confirm">
            </div></td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td><div class="col">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div></td>
          </tr>
          <tr>
            
            <th scope="row">Marriage</th>
            
            <td>
              <div class="col">
              <input class="form-check-input" type="checkbox" value=""> 
            </td>
          </div>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th scope="row">Programing languages</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th scope="row">Skill</th>
            <td><div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
              Normal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
              Good
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Very Good
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Excelent
              </label>
            </div>
          </td>
          </tr>
          <tr>
            <th scope="row">Jobs</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th scope="row">Hoppies</th>
            <td>Jacob</td>
          </tr>
        </tbody>
      </table>
  </div>
</form>